body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    font-size: 75%;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-left: 112px;
    padding-right: 112px;
    padding-bottom: 80px;
}

.heads-up {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.heads-down {
    display: flex;
    padding: 8px;
    padding-top: 36px;
    align-items: center;
    justify-content: center;
}

.left-part {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    flex-basis: 50%;
    gap: 8px;
}

.right-part {
    background-color: gray;
    flex-basis: 50%;
    align-content: center;
    text-align: center;
    color: #e5e7eb;
    flex: 1;
    padding: 96px;
}

.hero-one {
    color: #f9faf8;
    font-size: 32px;
    font-weight: 900;
}

.hero-two {
    color: #f9faf8;
    font-size: 16px;
}

.button {
    border-radius: 8px;
    background-color:#3882f6;
    align-self: flex-start;
    padding: 8px 24px;
    color: #f9faf8;
    font-weight: 600;
}

.logo {
    color: #f9faf8;
    size: 64px;
    align-self: flex-start;
    font-weight: 900;
}

.links {
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.first-part {
    display: flex;
    flex-direction: column;
}

.top {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    padding: 32px;
    text-align: center;
}

.bottom {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-bottom: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.rounded-card {
    padding: 56px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.paragraph {
    text-align: center;
    color: rgb(54, 54, 54);
}

.second-part {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    padding-left: 224px;
    padding-right: 224px;
    padding-top: 64px;
    color: #1F2937;
}

.thor {
    padding-right: 240px;
    text-align: end;
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 64px;
}

.third-part {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 80px 40px;
}

.inside {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    padding: 40px 64px;
    gap: 40px;
}

.left-inside {
    display: flex;
    flex-direction: column;
}

.call {
    color: #f9faf8;
    font-size: medium;
    font-weight: 700;
}

.or-not {
    color: #e5e7eb;
}

.right-inside {
    align-self: center;
    color: #f9faf8;
    border-radius: 8px;
    border: 2px solid #f9faf8;
    padding: 4px 16px;
}